<div class="flex justify-center">
  <div class="w-[90%] h-[118px] flex justify-between items-center">
    <div class="right-side flex self-center cursor-pointer">
      <img
        src="images/navbar.png"
        class="w-[20px] h-[20px]"
        alt="navbar icon"
      />
    </div>
    <div class="center-item">
      <img src="images/logo.png" class="w-[118px] h-[30px]" alt="navbar icon" />
    </div>
    <div class="left-side flex self-center">
      <button class="relative">
        <img
          src="images/shopping_400_px.png"
          class="w-[20px] h-[20px]"
          alt="shopping icon"
        />
        <span
          class="absolute top-[-9px] left-[-14px] bg-[#B0A27B] rounded-2xl p-2 w-[20px] h-[20px] flex items-center justify-center"
          ><span class="text-[12px] text-white">0</span></span
        >
      </button>
    </div>
  </div>
</div>
