<div class="flex justify-center">
  <div class="w-[1270px] h-[118px] bg-red-200 flex justify-between">
    <div class="right-side flex self-center">
      <p>His</p>
    </div>
    <div class="left-side flex self-center">
      <button
        class="w-[100.33px] h-[42px] pt-[16px] pb-[16px] pl-[8px] pr-[8px] bg-[#B0A27B] text-white flex gap-x-2 justify-center items-center rounded-[42px]"
      >
        <img
          src="images/shopping.png"
          class="w-[20px] h-[20px]"
          alt="shopping icon"
        />
        <span class="text-[14px] font-[700px] relative pl-2"
          ><span class="absolute top-[-9px]">0</span></span
        >
        <span class="text-[12px] font-[700px]">تومان</span>
      </button>
    </div>
  </div>
</div>
