<div class="flex items-center justify-center">
  <div class="flex w-[90%] justify-center items-center">
    <div class="w-full flex justify-center items-center">
      <div class="flex flex-col">
        <p class="flex gap-x-1 justify-center items-center text-center mb-5">
          <span
            class="flex justify-center items-center text-[45px] font-[900px] text-[#4F2C19]"
            >قهوت</span
          >
          <span
            class="flex justify-center items-center text-[35px] font-[400px] text-[#242424]"
            >یـادت نـره!</span
          >
        </p>
        <p class="flex gap-x-1 justify-center items-center text-center mb-8">
          <span
            class="w-[80%] text-center text-[16px] text-[#242424] font-[800px]"
          >
            بهترین و با کیفیت ترین قهوه ها و اکسسوری ها در خانه قهوه چالوس
          </span>
        </p>
        <div class="flex items-center justify-center mb-8">
          <button
            class="text-[18px] text-[#FFFFFF] w-[176px] h-[48px] bg-[#B0A27B] rounded-[16px] cursor-pointer"
          >
            نمایش محصولات
          </button>
        </div>
        <div class="flex items-center justify-center mb-8">
          <img
            src="images/coffe_cup.png"
            alt="Coffe Cup"
            class="w-[340px] h-[240px]"
          />
        </div>
        <div
          class="flex items-start justify-around mt-[-10px] flex-wrap gap-y-9 mb-8"
        >
          <div class="flex flex-col w-1/2 items-center">
            <p class="text-[50px] font-bold text-[#4F2C19]">
              {{ "100+" | persianNumber }}
            </p>
            <p class="text-[25px] font-medium text-[#3D3D3D]">نوع قهوه</p>
          </div>
          <div class="flex flex-col items-center">
            <p class="text-[50px] font-bold text-[#4F2C19]">
              {{ "1000+" | persianNumber }}
            </p>
            <p class="text-[25px] font-medium text-[#3D3D3D]">مشتری راضی</p>
          </div>
          <div class="flex flex-col w-1/2 items-center">
            <p class="text-[50px] font-bold text-[#4F2C19]">
              {{ "3+" | persianNumber }}
            </p>
            <p class="text-[25px] font-medium text-[#3D3D3D]">شعبه</p>
          </div>
          <div class="flex flex-col items-center">
            <p class="text-[50px] font-bold text-[#4F2C19]">
              {{ "100+" | persianNumber }}
            </p>
            <p class="text-[25px] font-medium text-[#3D3D3D]">اکسسوری</p>
          </div>
        </div>
        <div class="flex items-start justify-center flex-wrap gap-y-9 mb-8">
          <img
            src="images/cf.png"
            alt="Coffe Cup"
            class="w-[43.49px] h-[43.49px]"
          />
        </div>
      </div>
    </div>
  </div>
</div>
