<div class="flex items-center justify-center">
  <div class="flex w-[90%] justify-center items-center">
    <div class="w-full flex justify-center items-center">
      <div>
        <p class="flex gap-x-1 justify-center items-center text-center">
          <span
            class="flex justify-center items-center text-[45px] font-[900px] text-[#4F2C19]"
            >قهوت</span
          >
          <span
            class="flex justify-center items-center text-[35px] font-[400px] text-[#242424]"
            >یـادت نـره!</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
